.navbar {
    min-height: 50px;
  }
  
  .navbar-brand {
    padding: 10px;
    height: 50px;
  }
  

#top {
    position:relative;
    margin-top: 4em;
    padding:6em;
    text-align: center;
}
#portfolio {
    position:relative;
    margin-top: 8em;
}

#about {
    position:relative;
    margin-top: 8em;
    margin-bottom: 8em;
    line-height: 2em;
}

footer {
    background: grey!important;
    position:relative;
    height:10em;
    margin-top:5em;
}
